ul {
    list-style:none;
    margin-bottom: 0;
}

.posts li:hover {
    background-color: #99D6FF;
}

.comments li:hover {
    background-color: #CCCCCC !important;
}

.follows li {
    padding: 7px 10px;
}

a {
    text-decoration: none !important;
}