        <!--&lt;!&ndash; Nav tabs &ndash;&gt;-->
        <!--<ul class="nav nav-tabs" role="tablist">-->
          <!--<li class="active"><a href="#all" role="tab" data-toggle="tab">All</a></li>-->
          <!--<li><a href="#followed" role="tab" data-toggle="tab">Followed</a></li>-->
        <!--</ul>-->

        <!--&lt;!&ndash; Tab panes &ndash;&gt;-->
        <!--<div class="tab-content" style="padding-top: 20px; border: 1px">-->
          <!--<div class="tab-pane fade in active" id="all">{% include 'base/_posts.html' %}</div>-->
          <!--<div class="tab-pane fade" id="followed">{% include 'base/_posts.html' %}</div>-->
        <!--</div>-->